@using QL_BanHang.Helpers
@model QL_BanHang.Models.Common.PageResult<SanPham>
@{
    ViewData["Title"] = "Home Page";
    List<SanPham> SanPhamNgauNhien = ViewBag.SanPhamNgauNhien;
}
@* -------- Carosel-----------*@
<div id="myCarousel" class="carousel slide border" style="margin-top:-26px;" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/1.png" alt="Anh1">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/5.png" alt="Anh2">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/6.png" alt="Anh3">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/bgtui.jpg" alt="Anh3">
        </div>
    </div>
    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@*------------ List Product -------------*@
<div class="headline">
    <h3> Sản phẩm </h3>
</div>
<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card d-flex flex-column text-center border height100">
                    <div class="single-image">
                        <img src="~/@item.HinhSp" class="card-img-top" alt="...">
                        <a asp-controller="SanPham" asp-action="Detail" asp-route-id="@item.MaSp" class="btn-order">Xem Ngay</a>
                    </div>
                    <div class="product-info">
                        <div class="product-name" asp-route-id="@item.MaSp"><h5>@item.TenSp</h5></div>

                        <div class="product-price">@Html.FormatPrice(@item.DonGia) VNĐ</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@* ---------------- Page ---------------------*@
<nav aria-label="Page navigation example mt-2">
    <ul class="pagination" style="justify-content:center">
        <li class="page-item"><a class="page-link " asp-action="Index" asp-route-page="1">&#8249; </a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item"><a class="page-link " asp-action="Index" asp-route-page="@i">@i</a></li>

        }
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.PageCount">&#8250;</a></li>
    </ul>
</nav>
@* -------------  Review Product --------------*@
<div class=" container">
    <div class="headline">
        <h3>
            MỘT VÀI REVIEW VỀ SẢN PHẨM
        </h3>
    </div>
    @*<div class="row">
    </div>*@
    <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-md-8">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b5itVg64-RE" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                picture-in-picture" allowfullscreen></iframe>
        </div>
        <style>
            .bi {
                font-size: 20px;
                line-height: 1.3;
            }
        </style>
        <div class="col-6 col-md-4">
            <div>
                <i class="bi bi-1-square-fill">   Túi đeo chéo trắng </i>
            </div>
            <div>
                <i class="bi bi-2-square-fill">   Túi đeo chéo viền nâu</i>
            </div>
            <div>
                <i class="bi bi-3-square-fill">   Túi đeo chéo khóa tim</i>
            </div>
            <div>
                <i class="bi bi-4-square-fill">   Túi đeo chéo chữ nhật đứng</i>
            </div>
            <div>
                <i class="bi bi-5-square-fill">   Túi đeo vai trắng</i>
            </div>
            <div>
                <i class="bi bi-6-square-fill">   Túi kẹp nách</i>
            </div>
            <div>
                <i class="bi bi-7-square-fill">   Ví ngắn hồng</i>
            </div>
            <div>
                <i class="bi bi-8-square-fill">   Ví ngắn trắng</i>
            </div>
            <div>
                <i class="bi bi-9-square-fill">   Ví ngắn xanh</i>
            </div>
        </div>
    </div>
    <div style="font-size:18px">
        <i class="bi bi-file-easel-fill"> By: Làng Review </i>
    </div>
</div>

@*--------------- Product random ------------*@

<div class="container">
    <div class="headline">
        <h3>
            MỘT SỐ SẢN PHẨM
        </h3>
    </div>
    <div class="row">
        @foreach (var item in SanPhamNgauNhien)
        {
            <div class="col-12 col-sm-6 col-md-4 p-2">
                <div class="card d-flex flex-column text-center border height100">
                    <div class="single-image">
                        <img src="~/@item.HinhSp" class="card-img-top" alt="...">
                        <a asp-controller="SanPham" asp-action="Detail" asp-route-id="@item.MaSp" class="btn-order">Xem Ngay</a>
                    </div>
                    <div class="product-info">
                        <div class="product-name" asp-route-id="@item.MaSp"><h5>@item.TenSp</h5></div>

                        <div class="product-price">@Html.FormatPrice(@item.DonGia) VNĐ</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@* ----------------------- Mail ----------------------*@
<section class="email_subscription " style="background-color: cadetblue;padding-bottom:32px; ">
    <div class="Aaa pt-5">
        <form action="/" method="post">
            <div class="form-group w-100 d-flex justify-content-center">
                <input type="email" name="email" placeholder="Nhập email để nhận thông báo về sản phẩm mới nhất " class="p-4 w-50" />
                <button type="submit" class="p-4 my-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154l.215.338 7.494-7.494Z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
</section>
@*---------------Colapse------------------ *@
<div class="container">
    <div class="headline">
        <h3>
            THẮC MẮC
        </h3><br />
        <b> Dưới đây là 1 số câu hỏi thường gặp ở khách hàng</b>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-5 order-md-1 order-sm-0">
            <p>
                <div a class=" btn btn-group sub" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Hướng dẫn cách mua hàng
                </div><br />
            </p>
            <div class="collapse sub" id="collapseExample">
                <div class="card card-body">
                    <span> 1. Đăng kí tài khoản (chưa có tài khoản) và đăng nhập để tiến hành mua hàng(nếu có tài khoản)</span>
                    <span> 2. Thêm bất kì 1 sản phẩm nào bạn muốn mua vào giỏ hàng</span>
                    <span> 3. Click "Đặt hàng" để tiến hành thanh toán</span>
                </div>
            </div>
            <p>
                <div a class="btn btn-group sub" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Sản phẩm giao không đúng với đơn đặt hàng thì như thế nào?
                </div><br />
            </p>
            <div class="collapse sub" id="collapseExample1">
                <div class="card card-body">
                    <span> Hãy liên hệ với chúng tôi càng sớm càng tốt, hệ thống sẽ kiểm tra lại đơn hàng. Nếu hàng của bạn bị gửi nhầm thì chúng tôi sẽ thay thế đúng mặt hàng bạn đã đặt mua(khi còn hàng).</span>
                </div>
            </div>
            <p>
                <div a class="btn btn-group sub" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Chính sách đổi trả sản phẩm như thế nào ?
                </div>
            </p>
            <div class="collapse sub" id="collapseExample2">
                <div class="card card-body">
                    <span>- Sản phẩm trong thời hạn còn bảo hành.</span>
                    <span>- Lỗi về sản phẩm bị hư hỏng do các điều kiện tự nhiên, không có sự tác động của con người.</span>
                    <span>- Sản phẩm được bảo hành theo quy định của nhà cung cấp.</span>
                    <span>- Quý khách xuất trình phiếu bảo hành khi bảo hành.</span>
                    <span class="font-weight-bold"> Lưu ý</span>
                    <span class="font-weight-light">
                        - Khách hàng cần đổi trả hàng trong vòng 7 ngày làm việc tính từ thời điểm quý khách nhận hàng.
                    </span>
                    <span class="font-weight-light">
                        - Sản phẩm đổi trả cần nguyên vẹn nhãn mác, hộp, bao bì gốc của sản phẩm như khi Quý khách nhận hàng lúc đầu.
                    </span>
                </div>
            </div>
            <p>
                <div a class="btn btn-group sub" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Sản phẩm mua lỗi và quá hạn sử dụng xử lý như thế nào ?
                </div>
            </p>
            <div class="collapse sub" id="collapseExample3">
                <div class="card card-body">
                    <span>- Sản phẩm mua bị lỗi – Quá hạn sử dụng. </span>
                    <span>
                        - Quý khách vui lòng kiểm tra sản phẩm trước khi thanh toán. Trong trường hợp sản phẩm bị hư hại trong quá trình vận chuyển, quý khách vui lòng từ chối và gửi lại sản phẩm cho chúng tôi
                    </span>
                    <span>- Sản phẩm không sử dụng được ngay khi được giao.</span>
                    <span>
                        - Trước tiên, hãy dành thời gian đọc kỹ tem hướng dẫn sử dụng và chắc rằng sản phẩm phù hợp với nhu cầu của bạn. Vui lòng liên hệ ngay cho chúng tôi để được hỗ trợ hồi trả lại hàng
                    </span>
                </div>
            </div>
            <p>
                <div a class="btn btn-group sub" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Chính sách khiếu nại đối với khách hàng?
                </div>
            </p>
            <div class="collapse sub" id="collapseExample4">
                <div class="card card-body">
                    Chính sách xử lý khiếu nại:
                    <span>
                        - Tiếp nhận mọi khiếu nại của khách hàng liên quan đến việc sử dụng dịch vụ của Shop.
                    </span>
                    <span>
                        - Tất cả mọi trường hơp bảo hành, quý khách có thể liên hệ với chúng tôi để làm thủ tục bảo hành.
                    </span>
                    <span>
                        - Thời gian giải quyết khiếu nại trong thời hạn tối đa là 03 (ba) ngày làm việc kể từ khi nhận được khiếu nại của của khách hàng.
                    </span>
                    <span>
                        - Trước tiên, hãy dành thời gian đọc kỹ tem hướng dẫn sử dụng và chắc rằng sản phẩm phù hợp với nhu cầu của bạn. Vui lòng liên hệ ngay cho chúng tôi để được hỗ trợ hồi trả lại hàng
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5 order-md-1 order-sm-0">
            <img src="~/Images/Question.png" style=" width:548px; height:300px" alt="" />
        </div>
    </div>

</div>
<script>
    var speed = 40;
    var tab = document.getElementById("demo");
    var tab1 = document.getElementById("demo1");
    var tab2 = document.getElementById("demo2");
    tab2.innerHTML = tab1.innerHTML;
    function Marquee() {
        if (tab2.offsetWidth - tab.scrollLeft <= 0)
            tab.scrollLeft -= tab1.offsetWidth
        else {
            tab.scrollLeft++;
        }
    }
    var MyMar = setInterval(Marquee, speed);
    tab.onmouseover = function () { clearInterval(MyMar) };
    tab.onmouseout = function () { MyMar = setInterval(Marquee, speed) };
</script>